/* Global */
*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    /*
    font-family: monospace;
    */
}

ul, ol{
	padding:0px;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style: none;
	text-decoration: none;
}

.topBar{
	background:black;
}

.topBar a{
	color:white;
}

.backgroundColor, .backgroundColor a{
	background:#335c67;
	color:white;
}

/* Social  network */

.socialNetwork{
	width:30px;
	height:30px;
	text-align: center;
	line-height:30px;
}

/*Facebook*/
.facebookWhite{
	color:white;
}
.facebookBlack{
	color:black;
}
.facebookColor{
	color:white;
	background:#46639f;
}

/* Youtube */

.youtubeColor{
	color:white;
	background:#d6513e;
}
.youtubeWhite{
	color:white;
}
.youtubeBlack{
	color:black;
}

/* Twitter */

.twitterColor{
	color:white;
	background:#0ab2e6;
}
.twitterWhite{
	color:white;
}
.twitterBlack{
	color:black;
}

/* Instagram */

.instagramColor{
	color:white;
	background:linear-gradient(45deg, #fca925, #ee1d5f,  #6350a2);
}
.instagramWhite{
	color:white;
}
.instagramBlack{
	color:black;
}

/* Error 404 */

.error404{
	color:#333;
}

/* Desktop L (1366px) */

@media (min-width:1200px){
	.col-lg-0{
		display: none;
	}
	.error404 h1{
		font-size:300px;
		text-shadow:8px 8px 1px #dadada;
	}
}

/* Desktop M (1024px) */

@media (max-width:1199px) and (min-width:992px){
	.col-md-0{
		display: none;
	}
	.error404 h1{
		font-size:200px;
		text-shadow:6px 6px 1px #dadada;
	}
}

/* Desktop SM (768px) */

@media (max-width:991px) and (min-width:768px){
	.col-sm-0{
		display: none;
	}
	.error404 h1{
		font-size:150px;
		text-shadow:4px 4px 1px #dadada;
	}
}

/* Desktop XS (320px) */

@media (max-width:767px){
	.col-xs-0{
		display: none;
	}
	.error404 h1{
		font-size:75px;
		text-shadow:2px 2px 1px #dadada;
	}
}